<%= form_with model: @trail, local: true do |f| %>
  <div class="card-body">
    <% if @trail.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h5>A validação falhou:</h5>

        <ul class="mb-0">
          <% @trail.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="alert alert-info">
      Os cursos serão adicionados depois.
    </div>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :image, 'Imagem' %>
      <%= f.file_field :image, multiple: false %><br /><br />
    </div>
  </div>
  <div class="card-footer">
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
    <%= link_to 'Voltar', :back, class: 'btn btn-secondary' %>
  </div>
<% end %>