<div class="row">
  <% rates.each do |rate| %>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card" style="height: <%= user_signed_in? ? '230px' : '165px' %>">
        <div class="card-body d-flex flex-column justify-content-around">
          <div class="course-rate-show mb-3" data-rate="<%= rate.rate %>"></div>
          <p class="text-truncate"><%= rate.comment %></p>
          <span class="text-muted">
            por
            <%= link_to rate.student.name, student_path(rate.student.id) %>
            </span>
          <span class="text-muted">
            em
            <%= rate.created_at.strftime("%d/%m/%Y") %>
          </span>
        </div>
        <% if (can? :edit, rate) && (can? :destroy, rate) %>
          <div class="card-footer d-flex justify-content-between">
            <%= link_to 'Editar', edit_teacher_rating_path(rate), class: 'btn btn-primary' %>

            <%= link_to 'Excluir', teacher_rating_path(rate), class: 'btn btn-danger',
                        method: :delete, data: { confirm: 'Tem certeza?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>