<div class="card w-75 mx-auto mt-3">
  <div class="card-header">
    <h3 class="mb-0">Avaliando curso: <%= @course.name %></h3>
  </div>
  <%= form_with model: @course_rating, local: true, id: 'test-form' do |f| %>
    <%= f.hidden_field :course_id, value: @course.id %>
    <%= f.hidden_field :student_id, value: current_user.student.id %>

    <div class="card-body">
      <div class="form-group">
          <%= f.label :rate %>
          <div id="teste"></div>
          <%= f.hidden_field :rate, id: 'teste-input' %>
      </div>
      <div class="form-group">
        <%= f.label :comment %>
        <%= f.text_area :comment, class: 'form-control', required: true %>
      </div>
    </div>
    <div class="card-footer">
      <%= f.submit 'Salvar', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>