<div class="row">
  <% teachers.each do |teacher| %>
    <div class="col-12 col-sm-6 col-xl-4 mb-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0"><%= teacher.name %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle"><%= teacher.courses.count %> curso(s)</h6>
          <p class="card-text"><%= teacher.followers_count %> seguidor(es)</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to 'Perfil', teacher_path(teacher), class: 'btn btn-primary' %>

          <% if user_signed_in? &&
              teacher.teaches?(current_user.student) &&
              !current_user.student.rated_teacher?(teacher) %>
          <%= link_to 'Avaliar', new_teacher_rating_path(teacher_id: teacher.id),
                      class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>