<div class="row">
  <% teachers.each do |teacher| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card mx-auto" style="width: 220px; height: 415px;">
        <div class="p-2 text-center">
          <%= image_tag user_avatar(teacher.user), class: 'card-img-top img-card-list rounded-circle' %>
        </div>

        <div class="card-body pt-1 pb-2">
          <h3 class="card-title mb-1 lists-card-title">
            <%= link_to teacher.name, teacher_path(teacher) %>
          </h3>
          <h4 class="mb-1">
            <%= "#{teacher.courses.size} #{'curso'.pluralize(teacher.courses.size)}" %>
          </h4>
          <h6 class="mb-2">
            <%= "#{teacher.followers_count} #{'seguidor'.pluralize(teacher.followers_count)}" %>
          </h6>

          <% if teacher.average_rate == -1 %>
            <div class="alert alert-warning mb-0 mt-1" style="font-size: 1rem">Sem avaliação!</div>
          <% else %>
            <div class="course-average-rate mb-1" data-rate="<%= teacher.average_rate %>"></div>
            <span class="text-muted">
              <%= "(#{teacher.teacher_ratings.size} #{'avaliação'.pluralize(teacher.teacher_ratings.size)})" %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>