<h1>Professor</h1>
<hr />
<div class="row my-4">
  <div class="col-5 text-center">
    <%= image_tag 'http://i64.tinypic.com/344qrzd.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-7">
    <h2><%= @teacher.user.name %></h2>
    <h4><%= @teacher.user.email %></h4>
    <h4><%= @teacher.user.cpf %></h4>
    <h4><%= @teacher.phone_number %></h4>
    <h4><%= @teacher.courses.size %> curso(s)</h4>
    <button class="btn btn-success">Seguir</button>
  </div>
</div>

<h2>Turmas</h2>
<%= render partial: 'courses/courses', locals: { courses: @teacher.courses } %>