<div class="row">
  <% courses.each do |course| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card mx-auto" style="width: 220px; height: 450px;">
        <div class="p-2 text-center">
          <%= image_tag course_image(course), class: 'card-img-top img-card-list' %>
        </div>
        <hr>
        <div class="card-body pt-0 pb-2">
          <h3 class="card-title mb-0 lists-card-title">
            <%= link_to course.name, course_path(course) %>
          </h3>
          <h6 class="mb-0">
            <%= link_to course.teacher.name, teacher_path(course.teacher) %>
          </h6>

          <% if course.average_rate == -1 %>
            <div class="alert alert-warning mb-0 mt-1" style="font-size: 1rem">Sem avaliação!</div>
          <% else %>
            <div class="course-average-rate mb-1" data-rate="<%= course.average_rate %>"></div>
            <span class="text-muted">
              <%= "(#{course.course_ratings.size} #{'avaliação'.pluralize(course.course_ratings.size)})" %>
            </span>
          <% end %>
        </div>
        <div class="card-footer bg-white">
          <%= render partial: 'courses/show_price', locals: { course: course } %>
        </div>
      </div>
    </div>
  <% end %>
</div>