<h1><%= @course.name %></h1>
<h3>
  <%= link_to teacher_path(@course.teacher) do %>
    <%= @course.teacher.user.name %>
  <% end %>
</h3>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Descrição</h5>
    <p class="card-text"><%= @course.description %></p>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Ementa</h5>
    <p class="card-text"><%= @course.syllabus %></p>
  </div>
</div>

<h4><%= number_to_currency @course.price %></h4>

<%= render partial: 'courses/buttons', locals: { course: @course } %>

<h3 class="mt-3">Avaliações</h3>

<% if @course.course_ratings.exists? %>
  <% @course.course_ratings.each do |rating| %>
    <%= rating.student.user.name %><br />
    <%= rating.rate %><br />
    <%= rating.comment %>
    <hr />
  <% end %>
<% else %>
  <div class="alert alert-warning">O curso ainda não tem avaliações.</div>
<% end %>