<table class="table mb-0">
  <thead>
  <tr>
    <th scope="col">Título</th>
    <th scope="col">Desconto</th>
    <th scope="col">Início</th>
    <th scope="col">Fim</th>
    <th scope="col">Excluir</th>
  </tr>
  </thead>
  <tbody>
  <% @discounts.each do |discount| %>
    <tr>
      <td><%= discount.title %></td>
      <td><%= discount.discount %></td>
      <td><%= discount.start_date.strftime("%d/%m/%Y") %></td>
      <td><%= discount.end_date.strftime("%d/%m/%Y") %></td>
      <td>
        <% binding.pry %>
        <button class="btn btn-danger" id="destroyDiscount" data-id="<%= discount.id %>">
          Excluir
        </button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>