<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">UFFEMY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= active_link_to 'Home', root_path, class: 'nav-link',
                           active: :exclusive %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Cursos', courses_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Professores', teachers_path, class: 'nav-link' %>
      </li>
    </ul>
    <% if user_signed_in? %>
      <%= render 'layouts/user_links' %>
    <% else %>
      <%= active_link_to t('devise.registrations.new.sign_up'),
                         new_user_registration_path,
                         class: 'btn btn-light my-2 my-sm-0 btn-navbar' %>
      <%= active_link_to t('devise.sessions.new.sign_in'),
                         new_user_session_path,
                         class: 'btn btn-light my-2 ml-2 my-sm-0 btn-navbar' %>
    <% end %>

  </div>
</nav>