<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= active_link_to 'Home', root_path, class: 'nav-link',
                           active: :exclusive %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Cursos', courses_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Professores</a>
      </li>
    </ul>
    <% if user_signed_in? %>
      <div class="dropdown">
        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bem-vindo &nbsp<span class="font-weight-bold"><%= current_user.name %></span>!
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% unless current_user.teacher? %>
          <%= link_to 'Quero ser professor', new_teacher_path,
                      class: 'dropdown-item' %>
          <% end %>
          <a class="dropdown-item disabled" href="#">Atualizar dados</a>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete,
                      class: 'dropdown-item' %>
        </div>
      </div>
    <% else %>
      <%= active_link_to 'Cadastrar', new_user_registration_path,
                         class: 'btn btn-outline-secondary my-2 my-sm-0' %>
      <%= active_link_to 'Entrar', new_user_session_path,
                         class: 'btn btn-outline-primary my-2 ml-2 my-sm-0' %>
    <% end %>

  </div>
</nav>