<% if has_order? %>
  <%= active_link_to 'Carrinho', order_path(current_order.id),
                     class: 'btn btn-outline-light mr-2' %>
<% end %>

<div class="dropdown">
  <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bem-vindo &nbsp<span class="font-weight-bold"><%= current_user.name %></span>!
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item disabled" href="#">Atualizar dados</a>

    <% if current_user.student.courses.exists? %>
      <%= link_to 'Meus cursos', student_courses_courses_path, class: 'dropdown-item' %>
    <% end %>

    <% if current_user.student.orders.closed.exists? %>
      <%= link_to 'Meus pedidos', student_orders_orders_path, class: 'dropdown-item' %>
    <% end %>

    <div class="dropdown-divider"></div>
    <% unless current_user.teacher? %>
      <%= link_to 'Quero ser professor', new_teacher_path,
                  class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
    <% end %>



    <% if current_user.teacher? %>
      <%= link_to 'Novo curso', new_course_path, class: 'dropdown-item' %>
      <%= link_to 'Minhas Turmas', teacher_courses_courses_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
    <% end %>

    <%= link_to 'Sair', destroy_user_session_path, method: :delete,
                class: 'dropdown-item' %>
  </div>
</div>