<!DOCTYPE html>
<html>
  <head>
    <title>EducacaoGpms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <%= render 'layouts/banner' if home_controller? %>
    <div class="content <%= 'padding-from-navbar' unless home_controller? %>">
      <main role="main" class="container bg-white p-0">
        <%= render 'layouts/discount_message' %>
        <div class="p-3">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </main>
      <footer class="footer bg-primary text-white">
        <div class="container">
          Colocar conteúdo aqui.
        </div>
      </footer>
    </div>
  </body>
</html>
