<!DOCTYPE html>
<html>
  <head>
    <title>EducacaoGpms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <%= render 'layouts/sidebar' if user_signed_in? %>
    <div class="padding-from-navbar"></div>
    <%= render 'layouts/discount_message' %>
    <%= render 'layouts/banner' if home_controller? %>
    <div class="<%= @discount.present? ? 'content-with-discount' : 'content-without-discount' %>">
      <main role="main">
        <div class="pt-3">
          <%= alertify_flash %>
          <%= yield %>
        </div>
      </main>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
